/* 
	 
	1- nav navbar 
	2- header 
	3- section - portfolio 
	4- section - about
	5- footer

*/


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}


body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}


section {
	padding-top: 10rem;
	padding-bottom: 10rem;
	text-align: center;
}


.btn-large {
	font-size: 2rem;
	padding: 2.2rem 1.6rem;
}

.btn {
	margin-top: 4rem;
	font-weight: 400;
	display: inline-block;
	border: 2px solid transparent;
	border-radius: .4rem;
	cursor: pointer;
	transition: all .5s;
}

.btn-social {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	font-size: 2rem;
	line-height: 2rem;
}


.btn-outline {
	color: #fff;
	border-color: #fff;
	background-color: transparent;
	
}

.btn-outline:hover {
	color: #212529;
	background-color: #fff;
}


.btn-primary {
	background-color: #18BC9C;
	border-color: #18BC9C;
	color: #fff;
	padding: 1.2rem 1rem;
}

.btn-primary:hover {
	background-color: #128f76;
	border-color: #128f76;

}


.img-fluid {
	max-width: 100%;
	height: auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: .5rem;
	padding-right: .5rem;
}

.text-uppercase {
	text-transform: uppercase;
}


/* nav navbar*/
nav {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #2C3E50;
	color: #fff;
	padding-top: 2.4rem;
	padding-bottom: 2.4em;
	position: fixed;
	z-index: 500;
}

#logo-box {
	float: left;
	padding-top: .5rem;
}

#logo-box .logo {
	color: #fff;
	font-weight: 700;
	font-size: 3.2rem;

}

#nav-links {
	float: right;
}

#nav-links .nav-item {
	float: left;
	margin: .4rem;

}


#nav-links .nav-link {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	display: block;
	padding: 1.6rem;
	letter-spacing: .1rem;
	transition: color .3s;
}


#nav-links .nav-link:hover {
	color: #18bc9c;
}



/* header */
header {
	background-color: #18BC9C;
	padding-top: calc(130px + 10rem);
	padding-bottom: 112px;
	text-align: center;
}


header h1 {
	color: #fff;
	font-size: 7.6rem;
}

header h2 {
	color: #fff;
	font-size: 2.8rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}



.star-light {
	border: none;
	border-top: .4rem solid #fff;
	max-width: 25rem;
	margin: 2.5rem auto;
	overflow: visible;
	height: 0;
}

.star-light::after {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	color: #fff;
	font-weight: 900;
	font-size: 3.2rem;
	position: relative;
	padding: 0 8px;
	top: -26px;
	background-color: #18BC9C;
}


/* section portfolio */


#portfolio h2 {
	font-size: 4.8rem;
	color: #2c3E50;
}


.star-dark {
	border: none;
	border-top: .4rem solid #2c3E50;
	max-width: 25rem;
	margin: 2.5rem auto;
	overflow: visible;
	height: 0;
}

.star-dark::after {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	color: #2c3E50;
	font-weight: 900;
	font-size: 3.2rem;
	position: relative;
	padding: 0 8px;
	top: -26px;
	background-color: #fff;

}



#portfolio-images {}


.col {
	float: left;
	width: 33.33333%;
	padding: 10px;
}

.portfolio-item {
	position: relative;
}


.portfolio-item img {
	display: block;

}

.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #18BC9C;
	opacity: 0;
	transition: opacity .5s ease;
}

.img-overlay .icon {
	color: #fff;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.portfolio-item:hover .img-overlay {
	opacity: 0.75;
}


/* section about */
#about {
	background-color: #18BC9C;
	color: #fff;
}

#about h2 {
	font-size: 4.8rem;
}


#about-text {
	text-align: left;
}

#about-text .left {
	float: left;
	width: 50%;
	padding-right: 2rem;
	padding-left: 23rem;
}

#about-text .right {
	float: right;
	width: 50%;
	padding-left: 2rem;
	padding-right: 23rem;
}


#about-text .text {
	font-size: 2rem;
}


/* section contact  */

#contact {
}

#contact h2 {
	font-size: 4.8rem;
	color: #2C3E50;
}

#contact-form {
	width: 70%;
	margin: 0 auto;
	text-align: left; 
}

#contact .form-group{
	border-bottom: 1px solid #e9ecef;
	padding-bottom: 3rem;
	margin-bottom: 4rem;

}

.form-group input, .form-group textarea {
	border: none;
	width: 100%;
	display: block;
	font-size: 2.4rem;
}

.form-group input:focus, .form-group textarea:focus {
	outline: 0;
}


/* footer */

footer{
	padding-top: 6rem;
	padding-bottom: 6rem;
	background-color: #2C3E50;
	color: #fff;
	text-align: center;
}

footer h4{
	font-size: 2.4rem;
}

footer p {
	font-size: 2rem;
	margin-top: 1rem;
}

footer li {
	display: inline-block;
	margin-right: 1rem;
}

.copyright {
	background-color: #1A252F;
	color: #fff;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	text-align: center;
}






